/* 数据输入区域 */
.data-area {
    display: flex;
    flex-wrap: wrap;

    box-shadow: 0px 1px 10px 2px #a7a7a7;
    border-radius: 5px;
    padding: 13px;
}
.data-area > .hash-value {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 20%;
    text-align: right;
}
.data-area > .result-value {
    margin-left: 40px;
}

/* 构造方法、冲突方法选择区域 */
.select-area {
    display: flex;
    flex-wrap: wrap;

    box-shadow: 0px 1px 10px 2px #a7a7a7;
    border-radius: 5px;
    padding: 13px;
}
.select-option {
    list-style: none;
    padding-inline-start: 0;
}

/* flex-table */
.table {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
}
.table .cell .key {
    border-bottom: rgb(150, 138, 138) solid 1px;
}
.table .cell {
    border-radius: 8px;
    background-color: peru;
    width: 100%;
    text-align: center;
    margin: 0.1rem;
}
.table .list{
    margin: 0.1rem;
    width: var(--cell-width, 12vw);
}

/* search */
input:focus, textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.search > span {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 5px 0px 0 5px;
    margin-right: -1px;
    background-color: #e9ecef;
    padding: 6px;
}
.search > input {
    box-sizing: border-box;
    z-index: 2;
}

.search {
    display: flex;
    white-space: nowrap;
    position: relative;
    width: 300px;
    /* margin: 0 auto; */
}

.search > input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
}

.search > .search-group-append {
    width: 42px;
    cursor: pointer;
    margin-left: -1px;
}

/*搜索框6*/
.bar6 input {
    border: 1px solid #ced4da;
    /* border-radius: 5px; */
    background: transparent;
    top: 0;
    right: 0;
}

.bar6 > .search-group-append {
    background: #fff;
    /* border: 1px solid #ced4da;
    border-radius: 5px 0px 0 5px; */
}

.bar6 button {
    background: #fff;
    z-index: 2;
    border: 1px solid #6c757d;
    border-left-width: 2px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.search-group-append button:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
button:focus {
    outline: 0;
    box-shadow:0 0 0 .2rem rgba(108,117,125,.5);
}
